<% hours = formatted_number(current_user.hours) %>
<% provide(:title, "Home") %>
<h1>Welcome, <%= current_user.name %>!</h1>
<h6 id="sub-welcome">You have volunteered for <%= pluralize(hours, 'hour') %>!</h6>
<div class="row">
  <div class="col-md-6">
    <h2>Upcoming events</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>Group</td>
          <td>Date</td>
        </tr>
      </thead>
      <tbody>
        <% @upcoming_events.each do |event| %>
          <tr>
            <td><%= link_to event.name, event %></td>
            <td><%= event.group.name %></td>
            <td><%= formatted_day(event.date) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @upcoming_events %>
  </div>
  <div class="col-md-6">
    <h2>Recently credited events</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>Group</td>
          <td>Date</td>
        </tr>
      </thead>
      <tbody>
        <% @recently_credited.each do |event| %>
          <tr>
            <td><%= link_to event.name, event %></td>
            <td><%= event.group.name %></td>
            <td><%= formatted_day(event.date) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
