<h1>Editing <%= @group.name %></h1>

<%= form_for(@group) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Save changes" %>
<% end %>
