<%= provide(:title, "Members") %>
<h1>Members of <%= @group.name %></h1>

<div class="row">
  <div class="col-md-6 center-block members">
    <ul>
      <% @members.each do |member| %>
      <li>
        <div class="member-title">
          <div class="member-pic">
            <%= gravatar_for member, size: 60 %>
          </div>
          <div class="member-name">
            <%= link_to member.name, member %>
          </div>
          <div class="member-hours">
            <%= number_with_precision(member.hours_for_group(@group), precision: 2, strip_insignificant_zeros: true) %> hours
          </div>
          <div class="member-time">
            Member since <%= member.membership_for(@group).created_at.strftime("%B %d, %Y") %>
          </div>
        </div>

        <% if current_user.admin_of?(@group) && !current_user?(member) %>
          <div class="admin-member-actions">
            <%= link_to "Remove", membership_path(member.membership_for(@group)), method: :delete,
                                        data: { confirm: "You sure?" } %>
              <% if member.admin_of?(@group) %>
                <%= link_to "Demote", membership_path(member.membership_for(@group), membership: { admin: false }), method: :put, data: { confirm: "You sure?" } %>
              <% else %>
                <%= link_to "Promote", membership_path(member.membership_for(@group), membership: { admin: true }), method: :put, data: { confirm: "You sure?" } %>
              <% end %>
          </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
