<h1><%= @group.name %></h1>

<p><%= @group.description %></p>

<ul>
  <li>On Volunteer Versus since <%= @group.created_at.to_s %></li>
  <li>
    <a href="<%= group_members_path(@group) %>">
      <%= @group.users.count %> members
    </a>
  </li>
  <li>
      <%= @group.events.count %> events
  </li>
</ul>

<% if @group.has_member?(current_user) %>
  You are a member of this group!
  <%= link_to "View events", group_events_path(@group) %>
  <%= render 'quit' %>
<% else %>
  Join!
  <%= render 'join' %>
<% end %>

<% if @group.has_admin?(current_user) %>
  <%= link_to 'Create event', new_group_event_path(@group) %>
<% end %>
<!-- All the events will be here! -->