<h1><%= @group.name %></h1>

<p><%= @group.description %></p>

<% if @group.has_member?(current_user) %>
  You are a member of this group!
  <%= link_to "View events", events_path(@group) %>
  <%= render 'quit' %>
<% else %>
  Join!
  <%= render 'join' %>
<% end %>

<% if @group.has_admin?(current_user) %>
  <%= link_to 'Create event', new_event_path(@group) %>
<% end %>
<!-- All the events will be here! -->