<%= provide(:title, "Users") %>

<div class="row">
  <div class="col-md-12">
    <h1>
      Users
    </h1>
    <p class="table-info">Check out some of the top volunteers and see how many groups they are in!</p>
    <div class="users-competitive">
      <%= will_paginate %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Hours</th>
            <th>Groups</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= @incrementer + index %></td>
              <td><%= link_to user.name, user %></td>
              <td><%= number_to_human(user.hours, precision: 2, strip_insignificant_zeros: true) %></td>
              <td><%= user.groups.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate %>
    </div>
  </div>
</div>
