<%= @event.name %>
<br>
<%= @event.date.to_formatted_s(:long) %>
<br>
<%= @event.start_time.to_formatted_s(:time) %>
<br>
<%= @event.end_time.to_formatted_s(:time) %>
<br>
<%= @event.location %>
<br>

<%= @event.description %>
<br>


<h2>
  Here are all the people going to the event!
</h2>
<%= render partial: 'attendances/attendee', collection: @attendees, locals: { group: @group, show_admin_tools: @show_admin_tools } %>



<% if @event.group.has_admin?(current_user) %>
  <ul>
    <li><%= link_to "Edit event", edit_event_path(@event) %></li>
    <% if @event.ended? %>
      <li><%= link_to "Check attendances", event_attendances_path(@event) %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'attendances/attendance_actions' %>