<li class="attendee-item">
  <div class="member-title">
    <div class="member-pic">
      <%= gravatar_for attendee, size: 50 %>
    </div>
    <div id="attendee" class="member-name">
      <%= link_to attendee.name, attendee %>
    </div>
  </div>
  <% if show_admin_tools %>
    <div class="admin-member-actions">
      <% attendance = attendee.attendance_for(@event) %>
      <% if attendee.got_checked_for?(@event) %>
        <%= link_to "Uncheck off", uncheck_path_for(attendance), method: :put %>
      <% else %>
        <%= link_to "Check off", check_path_for(attendance), method: :put %>
      <% end %>
      <%= link_to "Advanced edit", edit_attendance_path(attendance) %>
    </div>
  <% end %>
</li>
