<% provide(:title, "Edit attendance") %>
<h1>Editing <%= @attendance.attendee.name %>'s record for "<%= @attendance.event.name %>"</h1>
<h2>Event started at <%= @attendance.event.start_time.strftime("%l:%M %p") %>
and ended at <%= @attendance.event.end_time.strftime("%l:%M %p") %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@attendance) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :went, "Start time" %>
        <%= f.time_select :went, ampm: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :left, "End time" %>
        <%= f.time_select :left, ampm: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :checked, class: "checkbox-inline" do %>
          <%= f.check_box :checked %>
          <span>Attended event?</span>
        <% end %>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

